<div class="base">
  <div class="status">
    <div>Score: {{ points() }}</div>
    <div>
      {{ correctANSW ? "CORRECT ANSWER" : "" }}
      {{ wrongANSW ? "WRONG ANSWER" : "" }}
    </div>
  </div>
  <div class="catDisplay" *ngFor="let item of data2" >Category:  {{item.category.title}}</div>

  <div
    *ngFor="let item of data2"
    [innerHtml]="item.question"
    class="question"
  ></div>
  <loading-spinner
    *ngIf="showSpinner"
    class="loading-spinner"
  ></loading-spinner>

  <form (submit)="addAnswer()">
    <select
    aria-label="Example"
      #name="ngModel"
      [(ngModel)]="selectedCatId"
      name="selectedCatId"
      class="form-select select"
    >
      <option
        *ngFor="let cat of categorys"
        [value]="cat.id"
        [innerHtml]="cat.title"
      ></option>
    </select>
    <input
      #name="ngModel"
      [disabled]="disable"
      required
      type="text"
      name="inputText"
      placeholder="Answer.."
      class="answer-input"
      [(ngModel)]="inputText"
    />
    <div class="buttonPanel">
      <button
        type="button"
        (click)="randomQuestion()"
        class="btn btn-secondary button"
      >
        Random Question
      </button>
      <button [disabled]="disable" type="submit" class="btn button middle">
        Confirm Answer
      </button>
      <button
        type="button"
        (click)="newQuestion()"
        class="btn btn-secondary button"
      >
        Category Question
      </button>
    </div>
  </form>

  <div class="correctAnswerDisplay">
    <div
      class="timer"
      [innerHtml]="answerTimer ? answerTimer : 'The answer is: '"
    ></div>
    <div
      class="answer"
      *ngFor="let item of data2"
      [innerHtml]="answerTimer == 0 ? item.answer : 'Here will be your answer'"
    ></div>
  </div>
</div>
