.answer-input {
  display: block;
  width: 100%;
  padding: 1em 1em;
  border: none;
  outline-color: darkred;
  background-color: rgb(223, 215, 149);
  font-size: 1em;
  text-align: center;
}

.buttonPanel {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.button {
  margin: 4em 3em 4em 3em;
}

.button.middle {
  background-color: #ffe69c;
}

.question {
  text-align: center;
  font-size: 1.5em;
  margin: 2em 0 3em 0;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.status {
  margin: 1em;
  text-align: center;
  font-size: 1.5em;
  font-family: fantasy;
}

.correctAnswerDisplay {
  display: block;
  width: 100%;
  padding: 0.5em 0.5em;
  border: none;
  background-color: #cc9a06;
  margin: 1em 0 1em 0;
  font-size: 1.5em;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
}

.answer:hover {
  color: black;
}
.answer {
  color: #cc9a06;
}

.select {
  margin-left: 25%;
  margin-bottom: 2em;
  max-width: 50%;
}

.base {
  margin-top: 8em;
}

.catDisplay {
  text-align: center;
  font-size: 1.5em;
}