<div>
  <div class="score">Score: {{ score }}</div>
  <div *ngFor="let item of data" class="question">
    {{ item.question }}
  </div>
  <loading-spinner
    *ngIf="showSpinner"
    class="loading-spinner"
  ></loading-spinner>
  <form (submit)="addAnswer()">
    <input
      #name="ngModel"
      required
      type="text"
      name="inputText"
      placeholder="Answer.."
      class="answer-input"
      [(ngModel)]="inputText"
    />
    <div class="bottom">
      <button type="submit" class="btn btn-warning">Confirm</button>
    </div>
  </form>
</div>
