<div class="base">
  <div class="filter">
    <select class="form-select select">
      <option selected>Random</option>
      <option >Category</option>
      <option >Value</option>
      <option>Creation Data</option>
    </select>
    <button class="btn btn-secondary" type="button" (click)="refresh()">
      Refresh
    </button>
  </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Question</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody class="over">
      <tr *ngFor="let item of data">
        <td [innerHtml]="item.id" (click)="chosenID(item.id)"></td>
        <td [innerHtml]="item.question" (click)="chosenQ(item.question)"></td>
        <td [innerHtml]="item.category.title" (click)="chosenCAT(item.category.title)"></td>
      </tr>
    </tbody>
  </table>
</div>
