.base {
  padding-top: 6rem;
}

.filter {
  display: flex;
  padding: 30px;
  justify-content: space-around;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
