<div class="base">
  <div class="filter">
    <select class="form-select select" #name="ngModel" [(ngModel)]="selected">
      <option selected [value]="1">Random</option>
      <option [value]="3">Category</option>
      <option [value]="3">Value</option>
      <option [value]="3">Creation Data</option>
    </select>
    <button class="btn btn-secondary" type="button" (click)="refresh()">
      Refresh
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Question</th>
        <th scope="col">Answer</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody class="over">
      <tr *ngFor="let item of data">
        <td [innerHtml]="item.id"></td>
        <td [innerHtml]="item.question"></td>
        <td [innerHtml]="item.answer"></td>
        <td [innerHtml]="item.category.title"></td>
      </tr>
    </tbody>
  </table>
</div>
